---
title: about
---
<div style="text-align: center;">
    <h2>who am i</h2>
    <p>
        Hi! I'm Lily, though I usually go by (lily.witch | mistrustfully) online. I'm a programmer with interest in
        Rust, Haskell, and
        Lua.
    </p>
    <p>
        My current projects:
    <p>A functional programming language written in Rust -> <a href="https://github.com/mistrustfully/tau">tau</a></p>
    <p>This very website, made with Haskell -> <a href="https://codeberg.org/mistrustfully/serene.pink">serene.pink</a>
    </p>
    <p>Contributing code where ever I can!</p>
    </p>

    <h2>pronouns</h2>
    <p>Please use <span style="color:#f5c2e7">she / her</span>.</p>
    <div class="seperate" />
    <h1>contact</h1>
    <span>You can find me in any of the following places:</span>
    <div
        style="display: flex; flex-direction: row; justify-content: space-between; padding: 1em; margin: 1em; width: min-content; margin: 0px auto 0px auto">
        <a rel="me" href="https://codeberg.org/mistrustfully">
            <image src="../images/logos/codeberg.svg" alt="codeberg" class="social-logo" />
        </a>
        <a rel="me" href="https://transfem.social/@lilywitch">
            <image src="../images/logos/fedi.svg" alt="fediverse" class="social-logo" />
        </a>
        <a rel="me" href="https://matrix.to/#/@lily.witch:matrix.org">
            <image src="../images/logos/matrix.svg" alt="matrix" class="social-logo" />
        </a>
    </div>
</div>